In [ ]:
# 3.1: Data Frames

In [ ]:
# 3.1.1: Initializing data frames

In [ ]:
# Configure pandas number format
pd.set_option('display.float_format', '{:,.2f}'.format) # similar to options(scipen=999) in R

In [9]:
# Creating data frames
import pandas as pd
x = {'a': [1, 2], 'b': [3, 4], 'c': [5, 6]}
df = pd.DataFrame(x) # from dictionary
#Data frame properties
print(df.shape) # dimensions of the data frame i.e. # rows by # columns
print(df.columns) # the list of column names
print(df.dtypes) # the data type of each column
#Data frame methods
print(df.describe()) # summarizes the values of every column of the df
print(df.head())
print(df.tail())
# more at https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

(2, 3)
Index(['a', 'b', 'c'], dtype='object')
a    int64
b    int64
c    int64
dtype: object
              a         b         c
count  2.000000  2.000000  2.000000
mean   1.500000  3.500000  5.500000
std    0.707107  0.707107  0.707107
min    1.000000  3.000000  5.000000
25%    1.250000  3.250000  5.250000
50%    1.500000  3.500000  5.500000
75%    1.750000  3.750000  5.750000
max    2.000000  4.000000  6.000000
   a  b  c
0  1  3  5
1  2  4  6
   a  b  c
0  1  3  5
1  2  4  6

In [10]:
# 3.1.2: Data frame methods

In [13]:
# 3.1.2.1: Data frame methods
df.drop_duplicates() # returns unique values
df.drop('a', axis=1) # drop columns from data frame
df.sort_values(by=['a', 'b'], ascending=[False, True]) #
#df.apply(function, axis=1) # applies a function to each row.  Function is passed a single row
#pd.isnull() # missing data

   a  b  c
1  2  4  6
0  1  3  5

In [14]:
#Row filter
#df.query()
#df.loc[boolean_series,:]
#Column filter
#df[[column1, column2]]

In [ ]:
#

In [ ]:
Import supports a variety of file formats
pd.read_csv(file_name, converters={})
pd.read_excel(file_name, sheetname, converters={}) – need to conda install xlrd pd.read_fwf(file_name, widths, converters={})

Parsing is done through the converters dictionary
converters = {column_name: data_type, …}

In [ ]:
#
.index – the index of the data frame (similar to primary key in SQL)
	.loc[row_index, column_index]
Data frame methods
	.reset_index(drop=True) – reset the index to sequential numbering

In [ ]:
# column accessor – [column_name] or .column_name (equivalent to $ in R).  Depends on if column_name contains spaces.
Series methods
	.value_counts() – shows the distribution of values
	.tolist() – converts the series to a list
	.map(function) – applies the function to each element
Source: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

In [ ]:
# filtering

In [ ]:
# exporting
df.to_excel(file_name, index=False) – need to conda install openpyxl
df.to_csv(file_name, index=False)